<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="TL" href="#">Action</a></li>
        <li><a class="USD" href="#">Another action</a></li>
        <li><a class="EURO" href="#">Something else here</a></li>
        <li><a class="STR" href="#">Something else here</a></li>
    </ul>
</div>